@import "normalize.css";

:root {
  //color --------
  --primary: rgb(255, 59, 92);
  --text-color: #333;
  --text-black-line: rgba(22, 24, 35, 1);
  --white: rgb(255, 255, 255);
  --dark-color: #333;
  --light-color: #fff;
  --bluelight-color: rgb(43, 93, 185);
  --bg-gray: rgba(22, 24, 35, 0.06);
  --gray-color: rgba(22, 24, 35, .75);
  --gray-hover-color: rgba(22, 24, 35, 0.03);

  //height,width ------------

  --margin-top-container: 60px;
  --width-side-bar: 240px;

  // Default Layout  

  --default-layout-header-height: 60px;

  //Border

  --border-color: rgba(22, 24, 35, 0.12)
}
//Fonts
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: SofiaPro;
  src: url('/assets/fonts/sofiapro-semibold.otf');
  font-weight: 700;
}

* {
  font-family: "ProximaNova", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  overflow-y: overlay;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}
a[href] {
  color: var(--text-color);
  text-decoration: none;
}

//scrollbar

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

//Custom

body {
  .tippy-box {
    text-align: left;
    text-decoration: none;
    border-radius: 8px;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    padding: 3px 0;
  }
}
.check {
  font-size: 1.4rem;
  color: #20d5ec;
  background: var(--white);
  border-radius: 10px;
}