.wrapper {
  display: flex;
  width: 100%;
  padding: 32px 24px 36px;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: calc(100vh - 59px);
  margin: 0px auto;
  box-sizing: content-box;
  .info {
    max-width: 880px;
    .info-basic {
      display: flex;
      align-items: center;
      img {
        width: 116px;
        height: 116px;
        object-fit: cover;
        border-radius: 500px;
      }
      .name {
        margin-left: 20px;
        h3 {
          font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          margin-bottom: 4px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
          word-break: break-word;
        }
        span {
          font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          text-overflow: ellipsis;
          height: 25px;
          overflow: hidden;
          max-width: 450px;
          white-space: nowrap;
          display: flex;
          align-items: flex-end;
          margin-bottom: 16px;
        }
        button {
          width: 208px;
          height: 36px;
        }
      }
    }
    .info-counts {
      margin-top: 22px;
      display: flex;
      gap: 10px;
      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        display: inline-block;
        margin-left: 6px;
        color: var(--gray-color);
        strong {
          color: var(--text-color);
        }
      }
    }
    .bio {
      text-align: left;
      color: var(--text-black-line);
      font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      white-space: pre-line;
      margin-top: 10px;
    }
    .external-link {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      display: flex;
      align-items: center;
      margin-top: 5px;
    }
  }
  .list-item {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    margin-top: 20px;
    .item {
      width: 208px;
      .box-video {
        position: relative;
        height: 276px;
        overflow: hidden;
        border-radius: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          z-index: 99;
          left: 0;
          top: 0;
          border-radius: 10px;
        }
        video {
          width: 100%;
          height: auto;
          object-fit: cover;
          position: relative;
          z-index: 100;
          border-radius: 10px;
        }
        span{
            position: absolute;
            bottom: 10px;
            left: 15px;
            z-index: 101;
            color: var(--white);
            font-weight: 600;
        }
      }
      span {
        display: inline-block;
        width: 90%;
        font-size: 16px;
        word-break: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 400;
        line-height: 22px;
        margin-top: 5px;
        color: var(--text-black-line);
      }
    }
  }
}
